/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #010101;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;


}

.footer
{
  vertical-align: top;
  width: 100%;
#  background-color:black;
#  color: white;
  border-color: black;
  position: fixed;
  bottom: 0;
#  height: 3vh;
  font-size: smaller;
}


.add-api
{
  vertical-align: middle;
  position: fixed;
  bottom: 70px;
  right: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px;
  padding: 0px;
  z-index: 100;
  visibility: hidden;
}

.code {
  font-size: 100%;
  font-family: Courier;
}

.title_top
{
#    margin-top: 20px;
    font-size: 35px;
    font-family: "Knewave";
    color: #f39c12;
    padding: 2px;
    text-shadow: 2px 2px #808080;
}
.img_logo
{
    border-radius: 50%;
    padding: 2px;
#    background-color: #444;
#    background-color: white;
    background-color: #CCC;
}


.table_buttons{
   width: 35px;
   height: 35px
   margin: 5px;
   padding: 5px;
   border-radius: 20%;
   background-color: white;
}


.rotate {
  transform: rotate(20deg);
  font-color: red;

}

.nalink{
   margin: 5px;
   padding: 5px;
}

.brand {
    border-radius: 25px;
    background-color: #3a3a3a;
    padding: 10px 5px 15px 2px;
    box-shadow: 2px 2px 0px 0px #AAA
}