/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #010101;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.title_top
{
    font-size: 30px;
    font-weight: bold;
}
.img_logo
{
    padding: 5px;
    margin: 5px;
    border-radius: 20%;
    background-color: white;
}


img
{
align-content: middle;
}


.table_buttons{
   width: 35px;
   height: 35px
   margin: 5px;
   padding: 5px;
   border-radius: 20%;
   background-color: white;
}


.rotate {
  transform: rotate(20deg);
  font-color: red;

}