<header th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/sdr_logo100.png">

	<title>Rester's Dummy Run</title>

	<link rel="canonical" href="/">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Knewave">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
</header>